# 在 git archive 时排除示例和辅助文件
CocoapodsMDExample/ export-ignore
Effects/ export-ignore
Example/ export-ignore
Support/ export-ignore
Sources/ export-ignore
README.md export-ignore
README_zh.md export-ignore
.gitignore export-ignore
.DS_Store export-ignore
