/CocoapodsMDExample/Pods
/CocoapodsMDExample/CocoapodsMDExample/Config.local.json

# SPM build artifacts
.build/
.swiftpm/
Example/ExampleForMarkdown/ExampleForMarkdown/Config.local.json
Example/ExampleForMarkdown/ExampleForMarkdown/Config.local.json
.omx/
/.codex
/.codex/skills
/.derivedData-review
/.code-abyss
/cpu.trace
/.build-inline-review
/MemoryStatics.trace
